@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-eudoxus;
  }

  body {
    @apply bg-bgColor;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
}

b {
  @apply font-bold text-white;
}

.galleryCard:hover *:not(.titleRotate) {
  @apply opacity-100 text-left transition-all duration-1000 ease-out;
}
.galleryCard *:not(.absolute) {
  @apply opacity-0;
}
.galleryCard:hover .titleRotate {
  @apply opacity-0;
}

h3 {
  @apply text-6xl font-bold text-center;
}

.section-space {
  @apply my-10;
}

main > *:not(:last-of-type):not(img) {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  main > *:not(:last-of-type):not(img) {
    margin-bottom: 70px;
  }
}

footer {
  margin: 0;
}
